* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README.YahtzeeServ -text
/RELNOTES -text
/RELNOTES.win32.txt -text
/aclocal.m4 -text
/channel.c -text
/configure -text
/configure.in -text
/highscores.c -text
html/ys.tpl -text
/htmlscores.c -text
/install-sh -text
/misc.c -text
/modconfig.h.in -text
/play.c -text
/pulse.xml -text
win32/YahtzeeServ.qsp -text
win32/buildwin32snap.bat -text
win32/modconfigwin32.h -text
win32/neostatsversion.rc -text
/yahtzeeserv.c -text
/yahtzeeserv.h -text
/yahtzeeserv.sln -text
/yahtzeeserv.vcproj -text
/yahtzeeserv_help.c -text
