* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/NEWS -text
/README.YahtzeeServ -text
/RELNOTES -text
/channel.c -text
/configure -text
/configure.in -text
/highscores.c -text
html/ys.tpl -text
/htmlscores.c -text
/install-sh -text
/misc.c -text
/modconfig.h.in -text
/modconfigwin32.h -text
/play.c -text
/yahtzeeserv.c -text
/yahtzeeserv.h -text
/yahtzeeserv.vcproj -text
/yahtzeeserv_help.c -text
